{# Requiere: latex_Rc, latex_Rs, latex_Ri #}
<div class="math-display">
    \[
    \frac{\partial c}{\partial t} = D_c \nabla^2 c + R_c(c,s,i), \quad
    \frac{\partial s}{\partial t} = D_s \nabla^2 s + R_s(c,s,i), \quad
    \frac{\partial i}{\partial t} = D_i \nabla^2 i + R_i(c,s,i)
    \]
</div>
<div class="math-display">
    \[ R_c(c,s,i) = {{ latex_Rc|safe }} \]
</div>
<div class="math-display">
    \[ R_s(c,s,i) = {{ latex_Rs|safe }} \]
</div>
<div class="math-display">
    \[ R_i(c,s,i) = {{ latex_Ri|safe }} \]
</div>
